*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #111111, #292929);
    background-attachment: fixed;
    font-size: 1.2em;
}
main {
    border-radius: 20px;
    background-color: #ffeada;
    box-shadow: 5px 5px 10px #ffead8af;
    width: 50%;
    padding: 2%;
    margin: 1% auto;
}
title{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    text-align: center;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgba(71, 71, 235, 0.925);
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    text-align: center;
}
section{    
    align-content: center;    
}
h2{
    opacity: 100%;
    transition: opacity 3s;
}
li{
    color: #111111;
}
/* Estilo página da Lampada */
#interruptor {
}
/* Estilo da Calculadora */
.calculadora{
    display: flex;
    justify-content: center;
}
.visor {
    height: 30px;
    width: 270px;
    border: 10px;
    padding: 0.4%;
    color: aliceblue;
    background-color: rgb(92, 92, 92);    
}
.tecla {
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    height: 40px;
    width: 63px;
    box-shadow: 10px teal;
    background-color: black;
    color: rgb(225, 243, 243);
}