* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #F1EFCD;
}

main {
    width: 600px;
    margin: auto;
    padding: 15px;
}

header {
    margin: auto;
    padding: 5px;
}

.welcome {
    flex: auto;
}